body {
  font-family: Arial, sans-serif;
  margin: 0; padding: 0;
}
header {
  background-image: url("images/pixelsmall.gif");
  background-size: cover;      /* make it fill header */
  background-repeat: no-repeat;
  background-position: center;
  height: 350px;               /* adjust size of header */
  color: rgb(67, 78, 129);                /* so text is visible */
  display: flex;
  align-items: top;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: space-between;
  background: #333;
  padding: 0.5rem 1rem;
}
nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}
.product {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 2 items per row */
  gap: 20px; /* space between items */
}
.product-wide{
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* 2 items per row */
  gap: 20px; /* space between items */
  background : rgb(255, 0, 0);
  color : black;
}
.product-item {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  background: #fff;
}
.product-item2 {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  background: #60badd;
}
.product img {
  width: 200px;
  height: 200px;
  object-fit: cover;   /* crop to fill box */
  border-radius: 8px;  /* optional rounded corners */
  max-width: 100%;  
}

footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 20px;
}

p {
  margin-bottom: 20px; /* adds spacing under each price */
}

.item {
  margin-bottom: 30px; /* spacing between items */
}
html {
  scroll-behavior: smooth;
}

h3{
  padding: 20px;
}

#backToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000; /* stays above other stuff */
  background: #6a45be;
  color: #b60303;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  font-size: 18px;
  display: none; /* hidden until you scroll */
}
